@font-face {
  font-family: fig;
  src: url('Figtree-Regular.ttf');
}
*{
font-family: fig;
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* Landing page design start */
div#layout{
  display: grid;
  place-content: center;
  background-color: rgb(21, 20, 21);
  height: 100vh;
  width: 100vw;
  place-content: center;
}
div#in-layout{
  display: grid;
  /* place-content: center; */
  background-color: #1F2937;
  height: 481px;
  width: 597px;
  padding: 0;
}
div.container{
  display: grid;
  place-content: center;
  height: inherit;
  width: inherit;
}
div.convert{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  height: inherit;
  width: inherit;
}
span.head{
  display: grid;
  place-content: center;
  font-size: 2em;
  font-weight: 900;
  color: white;
  grid-area: 1/1/2/-1;
  background-color: #6943FF;
  height: 100%;
  width: 100%;
}
div.class{
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 40px;
}
div.convert button{
  display: grid;
  width: 200px;
  height: 50px;
  place-self: center;
  align-self:start ;
  place-content: center;
  border-radius: 28px;
  position: relative;
  top: 50px;
  border: none;
  padding: 0;
  background-color:#6943FF;
}
div.convert button a.but{
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  width: inherit;
  height: inherit;
  padding: 0;
  display: grid;
  place-content: center;
  border-radius: 28px;
  transition: all 0.3s ease-in;
}
div.convert button a.but:hover{
  color: #6943FF;
  background-color:#dbdbdf ;
}
/* Landing page end */
/* Convert page start */
div.container2{
  display: grid;
  height: inherit;
  width: inherit;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5fr 6.5fr;
}
div.header{
  display: grid;
  grid-area: 1/1/2/-1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  place-items: center;
  background-color: #6943FF;
  padding: 0;
}
span.top{
  color: white;
  font-weight: 900;
  font-size: 1.2em;
  display: grid;
  align-self: end;
}
div.inputs{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  place-content: center; width: 100%;
}
div.lay{
  display: grid;
  grid-template-rows: 8fr 2fr;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}
div.lay:nth-child(2){
display: none;
}
div.lay p{
  color: white;
  text-align: center;
}
:is(input#number1, input#number2){
  border: 1px solid papayawhip;
  height: 60px;
  width: 80%;
  text-align: center;
  font-size: 2em;
  color: white;
  font-weight: 1000;
  background-color: #6943FF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(239, 239, 199, 0.3),
  inset 0px 0px 1px rgba(115, 115, 111, 0.7);
  place-self: center;
}
div.actions{
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}
button.act{
  display: grid;
  width: 117px;
  height: 32px;
  border: none;
  place-content: center;
  border-radius: 5px;
  align-self: center;
  transition: all 0.3s ease-in;
  background-color: white;
}
button.act:hover{
  transform: scale(0.95);
}
div.result{
  display: grid;
  background-color: #F4F4F4;
  grid-auto-flow: row;
  place-content: center;
  padding: 40px 20px;
  overflow: auto;

}
div.tank{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  box-sizing: border-box;
  overflow: auto;
}
:is(div.box1, div.box2, div.box3, div.box){
  display: grid;
  background-color: white;
  width: 500px;
  height: 108.57px;
  place-items: center;
  text-align: center;
}
span.mea{
  color: #5A537B;
  font-weight: 900;
}
  button.buto{
   display: grid;
  width: 150px;
  height: 40px;
  place-self: center;
  align-self:start ;
  place-content: center;
  border-radius: 28px;
  position: relative;
  top: 50px;
  border: none;
  padding: 0;
  background-color: #6b4ef9;
} 
button a{
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  width: inherit;
  height: inherit;
  padding: 0;
  display: grid;
  place-content: center;
  border-radius: 28px;
  transition: all 0.3s ease-in;
}
div.buttons{
  display: grid;
  grid-auto-flow: column;

}
button a:hover{
  color: #6943FF;
  background-color:#dbdbdf
}
button.buton{
  display: grid;
 width: 150px;
 height: 40px;
 place-self: center;
 align-self:start ;
 place-content: center;
 border-radius: 28px;
 position: relative;
 top: 50px;
 border: none;
 padding: 0;
 background-color: #6b4ef9;
 position: relative;
} 
.story{
color: white;
margin: 25px;
font-size: 1.13em;
overflow: auto;
}
div.story span.intro{
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: aquamarine;
  text-decoration: underline;
}
b{
  color: aquamarine;
}
button.buti{
  display: grid;
  width: 150px;
  height: 40px;
  place-self: end;
  align-self:start ;
  place-content: center;
  border-radius: 28px;
  position: relative;
  top: 50px;
  border: none;
  padding: 0;
  background-color: aquamarine;
}
button.buti a{
  color: #1F2937;
}
p.las{
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: aquamarine;
  text-decoration: underline;
  margin: 20px 0px;
}
img.me{
width: 200px;
height: 200px;
float: left;
margin-right: 10px;
}

@media screen and (max-width: 760px){
  div#in-layout{
    height: 80vh;
    width: 90vw;
    border-radius: 10px;
    overflow: hidden;
  }
  :is(div.box1, div.box2, div.box3, div.box){
    display: grid;
    background-color: white;
    width: 80vw;
    height: 108.57px;
    place-items: center;
    text-align: center;
  }
  div.buttons{
    margin-bottom: 40px;
  }  
  div.story{
    display: grid;
  }
  img.me{
    float: none;
    display: grid;
    place-self: center;
    border-bottom: 1px solid #f5c261 ;
  }
  p.up{
    margin-top: 30px;
  }
  button.buti{
    margin-bottom: 60px;
  }
    }
  
